// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$border: 2px solid black; 

.card-link {
    text-decoration: unset;
    color: black;
}

.card-link:hover {
    color:black !important; 
    text-decoration:none; 
    cursor:pointer;  
}

.card-recipe {
   border: $border;
   border-radius: 10px;
   display: grid;
   padding: 2%;
   grid-template-columns: 50% 50%;
   width: 50%;
   min-width: 400px;
}

.card-left {
    width: 100%;
    grid-column-start: 1;
    text-transform: capitalize;
}

.card-right {
    width: 100%;    
    grid-column-start: 2;
}


.recipe-show-buttons {
  display: flex;
  justify-content: space-between;
}

.recipes-layout {
  .buttons {
    width: 100%;
    justify-content: space-between;
    display: flex;
   }
}